#inventory-preview .inventory-body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    padding: 2rem 0;
    margin: 0;
}

#inventory-preview .inventory-container {
    position: relative;
    width: 85%;
    max-width: 950px;
    background-color: rgba(59, 59, 59, 0.65);
    border-radius: 20px;
    padding: 20px;
    box-sizing: border-box;
    isolation: isolate;
}

#inventory-preview .inventory-container::before {
    content: "";
    position: absolute;
    top: -12px;
    left: -12px;
    right: -12px;
    bottom: -12px;
    border-radius: 25px;
    border: 5px solid #7042f8;
    box-shadow: 0 0 20px rgba(112, 66, 248, 0.7);
    z-index: -1;
}

#inventory-preview .inventory-grid-container {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 12px;
}

#inventory-preview .inventory-grid-item {
    background-color: #202020;
    border-radius: 10px;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    position: relative;
}

/* --- MANUAL POSITIONING TO FORCE PERFECT CENTERING --- */
#inventory-preview .inventory-draggable-item {
    position: absolute;
    /* Moving it up by reducing the top value */
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
    
    background-image: url(/draggable-cube.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}